<form {{action 'submit' on='submit'}}>
  <label for="pet-name">Name</label>
  {{input id="pet-name" type="text" value=name}}

  <label for="pet-breed">Breed</label>
  {{input id="pet-breed" type="text" value=breed}}

  <button>Save</button>
</form>