<div class="container">
  <h4>Checked In</h4>

  <ul>
    {{#each daycare.checkedInPets as |pet|}}
      <li>{{pet.name}}</li>
    {{/each}}
  </ul>

  {{#if daycare.checkedInPets.length}}
    {{#unless loading}}
      {{md-btn text='Mark Visit'
        action='markVisits'
        class='white blue-text'}}
    {{else}}
      {{md-loader}}
    {{/unless}}
  {{/if}}
</div>