{{#md-navbar homeRoute='contacts' name='Pet Spa' class='indigo'}}
  {{#link-to 'contacts.create' tagName='li'}}
    {{link-to 'New Customer' 'contacts.create'}}
  {{/link-to}}
{{/md-navbar}}

<div class="container">
  {{outlet}}
</div>

{{daycare-status}}

{{md-modal-container}}